*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:whitesmoke; */
}

body{
    background-color: whitesmoke;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-left: 90px;
}
nav ul{
    display: block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 90px;
}
.container{

    text-align: center;
    margin-top:10%;
  

}
.btn-us{
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: black;
}
h4{
    text-align: center;
    width: 50%;
    border: 1px solid rgb(195, 179, 179);
    margin-left: 25%;
    padding: 4px;
    background-color: black;
    color: white;
    border-radius: 5px;
}